<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mensaje</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2><%= mensaje %></h2>
    <a href="/api/heroes" class="button">Volver al Dashboard</a>
</body>
</html>
